:root {
  --color-white: white;
  --color-gray: gray;
  --color-blue: #1d259b;
  --color-medblue: #849ad6;
  --color-lightblue: #d4ddf8;
  --color-black: black;

}

body {
  font-family: 'Open Sans';
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0 !important;
}
/* navbar */

.navbar__logo img {
  height: 40px;
  filter: invert(100%);
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  background-size: cover;
  background-position: top;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
}

#navbar.navbar__dark {
  background-color: black;
  transition: all .35s ease-in-out;
  z-index: 100;
}

h1 {
  font-size: 60px;
}

ul {
  list-style: none;
}

h2 {
  margin: 16px;
}

h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
  border: var(--color-lightblue) 1px solid;

}

.navbar__menu {
  display: flex;
  margin-right: 16px;
}

.navbar__menu__item {
  padding: 8px;
  margin-left: 8px;
  color: white;
  cursor: pointer;
  transition: 0.25s;

}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: white;
  border-radius: 4px;
  color: #2f65ae;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 26px;
  font-size: 28px;
  border: none;
  background: none;
  color: white;
  display: none;
}

/* home */
#home {
  background-image: url('/img/wall.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--color-white);
  padding-top: 100px;
  padding: 20px;
}

.home__main__title {
  width: 800px;
  margin-top: 6em;
}


.home__description h1{
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1em;
  padding-bottom: 0.75em;
}

.home__description button {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 2em;
  padding: 12px;
  margin-top: 32px;
  border: white 1px solid;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-white);
  letter-spacing: .1em;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease-in;
}

.home__description button:hover {
  transform: scale(1.05);
  color: #2f65ae;
  background-color: white;
}

/* About */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__profile {
  height: 15em;
  border-radius: 60%;
  margin: 20px;
  padding-bottom: 16px;
  
}

.section h1 {
  font-size: 60 px;
  margin-bottom: 24px;
  font-weight: 600;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-medblue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-medblue);
}

.major__icon i {
  transition: 0.25s all ease;
}

.major__icon:hover i {
  color: var(--color-blue);
  transform: scale(1.1);
}

.major__title, .major__desc {
  color: var(--color-gray);
  margin-top: 12px;
}


.job__logo {
  height: 40px;
}

.job__list {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
}

.job__desc {
  text-align: left;
  margin-left: 4em;
  color: gray;
}

.job__period {
  font-size: small;
}

/* skills */

#skills {
  background-color: #ece7eb;
}

.skillset {
  display: flex;
  background-color: var(--color-lightblue);
  border: 10px solid var(--color-blue);
}

.section__container p {
  margin-bottom: 8px;
}

.skillAtt__desc {
  margin-bottom: 3em;
  margin-top: 1.5em;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-medblue);
}

.skillset__right {
  flex-basis: 40%;
}

.skill {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.skillset__title {
  font-size: 28px;
  color: white;
  background-color: rgba(30, 37, 155, 0.5);
}

.skill__desc {
  word-spacing: 0.5em;
  color: white;
}

.skill__level {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0.5em;

}

.etc__list {
  margin: 16px 0;
}

.tools__list {
  margin: 16px 0;
}

/* Work */

.work__categories {
  margin: 40px;
}

#works h3 {
  font-weight: 600;
  font-size: 24px;
}

.category__btn {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: transparent;
  font-size: 20px;
  padding: 8px 48px;
}

.category__btn.active, 
.category__btn:hover {
  background-color: var(--color-medblue);
  color: white;
  outline: none;
  border: none;
}

.category__count {
  background-color: rgb(255, 82, 29);
  border-radius: 50%;
  color: white;
  height: 24px;
  width: 24px;
  line-height: 24px;
  position: relative;
  display: inline-block;
  top: -30px;
  opacity: 0;
  transition: all ease-in 0.3s;
  margin-left: 8px;
  border: none;
}

.category__btn.active .category__count, 
.category__btn:hover .category__count{
  opacity: 1;
  top: 0;
  border: none;
  outline: none;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__desc {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all ease-in 0.3s;
  border-radius: 4px;
}

.project__desc h3, .project__desc span {
  color: white;
}

.project__desc h3::after {
  content: '';
  display: block;
  position: relative;
  left: 38.5%;
  width: 3em;
  height: 2px;
  margin-top: 8px;
  background-color: lightgray;
}

.project:hover .project__desc, .project {
  opacity: 1;
}

.project__img__3d {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Contact */
#contact {
  background-color: #355275;
}

.contact__title, 
.contact__email, 
.contact__links a, 
.contact__rights {
  color: white;
}

.contact__title {
  margin: 16px 0;
  font-size: 46px;
  font-weight: 800;
}

.contact__email{
  font-weight: 400;
}

.contact__links{
  font-size: 1.5em;
}

.contact__links a i{
  margin: 0 16px;
  transition: all 0.1s ease-in;
}

.contact__links a i:hover{
  transform: scale(1.15);
}

.contact__rights {
  font-weight: 100;
  font-size: small;
  margin-top: 20px;
}

/* arrow up */
.arrow__up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 36px;
  color: white;
  background-color: #c7974f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  display: none;
} 

.arrow__up.visible {
  display: block;
}

/* size below 768 px screen width */

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }
}